#main{
    background-color: rgb(55, 118, 245);
    height: 640px;
    width: 800px;
    margin-top: 45px;
    margin-left: 380px;
    border: 5px solid rgb(8, 0, 255);
    border-radius: 10%;

}

#txt{
    font-family: nunito;
    color: white;
    font-size: 25px;
}

#fst{
    border: 3px solid white;
    text-align: center;
    border-radius: 60px;
    margin-top: 17px;
    background-color: rgb(255, 0, 0);
}

#display{
    border: 3px solid white;
    border-radius: 30px;
}

.input{
    margin-left: 10px;
}

.ans{
    color: white;
    margin-left: 187px;
    font-family: roboto;
}

#dis_txt{
    font-size: 23px;
    color: black;
    /* margin-left: 20%; */
}

.nums{
    color: rgb(214, 0, 0);
    font-size: 54px;
    border: 3px solid white;
    border-radius: 30%;
    background-color: yellow;
    margin-top: 27px;

}

.nums:hover{
    color: black;
    background-color: white;
    font-weight: bold;
    cursor:pointer;
}

#zero:hover{
       color: black;
    background-color: white;
    font-weight: bold;
    cursor:pointer;
}

#num{
    height: 400px;
    width: 300px;
    border: 3px solid white;
    border-radius: 25px;
    margin-top: 8px;
    margin-left: 50px;
    padding: 7px;
}

.nums2{
    margin-left: 75px;
}

.nums3{
    margin-left: 75px;
}

#zero{
    text-align: center;
    border-radius: 20%;
    background-color: yellow;
}

.ops{
    /* margin-left: 400px; */
    font-size: 54px;
    margin-top: 20px;
    padding: 5px;
}

#operators{
    height: 400px;
    width: 300px;
    border: 3px solid white;
    border-radius: 25px;
    margin-top: -420px;
    margin-left: 450px;
    padding: 10px;
}

#plus{
    width: 147px;
}

#minus{
    width: 147px;
}

#mul{
    width: 147px;
}

#div{
    width: 147px;
}

#equal{
    width: 147px;
}

#point{
    width: 147px;
}

#clear{
    width: 298px;
}